<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week2/minseok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Week2

In [ ]:
x, y = 3.14, 0

print(f'x or y : {x or y}')
print(f'x and y : {x and y}')
print(f'not x : {not x}')

x or y : 3.14
x and y : 0
not x : False

In [ ]:
a = [1, 2, 3  ]
b = a #shallow copy

print(f'a == b : {a == b}') #equality of value
print(f'a is b : {a is b}') # identity of object

c= list(a) #deep copy

print(f'a == c: {a == c}') #equality of value
print(f'a is c : {a is c}') # equality of object

a == b : True
 a is b : True
a == c: True
a is c : False

In [ ]:
fruits = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(f'fruits : {fruits}')

print(f"'orange' in fruits : {'orange' in fruits}")
print(f"'grape' not in fruits : {'grape' not in fruits}")

fruits : {'pear', 'apple', 'banana', 'orange'}
'orange' in fruits : True
'grape' not in fruits : True

In [ ]:
a = set('abracadabra')       
b = set('alacazam')          

print(f'a | b : {a | b}')    
print(f'a & b : {a & b}')    
print(f'a - b : {a - b}')    
print(f'a ^ b : {a ^ b}') # = (a - b) | (b - a)

a | b : {'a', 'l', 'r', 'd', 'm', 'b', 'z', 'c'}
a & b : {'c', 'a'}
a - b : {'d', 'b', 'r'}
a ^ b : {'d', 'r', 'm', 'b', 'l', 'z'}

In [ ]:
scores = {'calculus':90, 'physics':70}
print(scores)

scores = dict([('calculus',90),('physics',70)])
print(scores)

scores = dict(calculus=90, physics = 70)
print(scores)

scores['chemistry'] = 80
print(scores)

del scores['calculus']
print(scores)

{'calculus': 90, 'physics': 70}
{'calculus': 90, 'physics': 70}
{'calculus': 90, 'physics': 70}
{'calculus': 90, 'physics': 70, 'chemistry': 80}
{'physics': 70, 'chemistry': 80}

In [ ]:
x = {}
print(type(x))

y = set()
type(y)

<class 'dict'>

set

In [ ]:
nums = [1, 4, 1, 4, 2, 1, 3, 5, 6, 2 ]

squares = []
for x in nums:
  squares.append(x ** 2)

print(squares)

squares = [ x ** 2 for x in nums]
print(squares)

[1, 16, 1, 16, 4, 1, 9, 25, 36, 4]
[1, 16, 1, 16, 4, 1, 9, 25, 36, 4]

In [ ]:
evens = []
for x in nums:
  if x % 2 == 0:
    evens.append(x)

print (evens)

squares = {x for x in nums if x%2 == 0}
print(squares)

[4, 4, 2, 6, 2]
{2, 4, 6}

In [ ]:
def say_hello_world():
  print('Hello world!')

def say_hello_to(name):
  print(f'Hello {name}!')

def get_full_name(first, last):
  '''
  returns full name string
  '''
  return first+ ' '+last

say_hello_world()
say_hello_to('GNB')

myname = get_full_name('YaHo', 'Mu')
say_hello_to(myname)

help(get_full_name)

Hello world!
Hello GNB!
Hello YaHo Mu!
Help on function get_full_name in module __main__:

get_full_name(first, last)
    returns full name string

## Object = Attribute + Method
##        = Variable + Function
##        = Data + Code
구조체는 함수가 못들어감 클래스는 들어갈수 있다!
C++에서는 구조체에도 함수 들어갈수있다고함

In [ ]:
class Student:
  pass   #클래스 만드는 과정, pass는 아무것도 안하는것 안에 내부적으로 __init__(self): 가 있음

std_1 = Student()
std_2 = Student()

print(Student)
print(std_1)
print(std_2)

print(isinstance(std_1, Student), isinstance(std_2, Student))

<class '__main__.Student'>
<__main__.Student object at 0x7f26bd908c50>
<__main__.Student object at 0x7f26bd908890>
True True

In [ ]:
class Student:

  def __init__(self, first, last, gpa):
    self.first = first
    self.last = last
    self.gpa = gpa
    self.email = first + '.' + last + '@knu.ac.kr'

  def fullname(self):    #self는 항상 빼먹으면 안된다!
    return f'{self.first} {self.last}'

std_1 = Student('Seunghwan', 'Do', 0.00)
print(std_1.email)

print(Student.fullname(std_1))
print(std_1.fullname())

Seunghwan.Do@knu.ac.kr
Seunghwan Do
Seunghwan Do

In [ ]:
class Student:

  num_of_stds = 0
  domain = 'knu.ac.kr'

  def __init__(self, first, last, gpa):
    self.first = first
    self.last = last
    self.gpa = gpa
    self.email = first + '.' + last + self.domain
    Student.num_of_stds += 1

std_1 = Student('ABC', 'Kim', 4.00) #클래스 끝나고 들여쓰기 조심할것!
print(Student.num_of_stds)

std_2 = Student('def','Lee', 3.00)
print(Student.num_of_stds)

1
2

In [ ]:
class GnBMember(Student):

  domain = 'gnb.com'

  def __init__(self, first, last, gpa, prog_lang):
    super().__init__(first, last, gpa)
    self.prog_lang = prog_lang

gnb_1 = GnBMember('mem','1', 4.0, 'PYTHON')
print(Student.num_of_stds, gnb_1.email, gnb_1.prog_lang)

print(isinstance(gnb_1, GnBMember)) #gnb1은 gnbmember의 인스턴스다
print(isinstance(gnb_1, Student))   #gnb1은 student의 인스턴스이기도하다

print(issubclass(GnBMember, Student))

print(issubclass(Student, Student)) ##자기자신도 서브클래스이다?

3 mem.1gnb.com PYTHON
True
True
True
True